<% include ../partials/header %>


<div class="container">
	<nav class="navbar navbar-light bg-light">
		<header>
			<h1>Results Page</h1>
		</header>
	</nav>


	<nav class="navbar navbar-dark fixed-top bg-dark" style="text-align: center;">
		<header>
			<h1 >Results Page</h1>
		</header>
	</nav>

	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<section>
				<div class="row">
					<div class="col-md-4 text-center " >
						<button type="button" onclick="window.location='https://www.gumtree.com.au/'" class="btn btn-outline-info btn-lg">Gumtree</button>

					</div>
					<div class="col-md-4 text-center">
						<button type="button" onclick="window.location='https://www.ebay.com/'" class="btn btn-outline-info btn-lg">Ebay</button>

					</div>
					<div class="col-md-4 text-center">
						<button type="button" onclick="window.location='https://www.amazon.com.au/'" class="btn btn-outline-info btn-lg">Amazon</button>
					</div>
				</section>
				

				<section>
					<%for(let i=0; i<5; i++){%>
					<div class="row">
					
						<div class="col-md-4">
							<div class="card">
								<div class="card-body" style="width: 18rem;">
									<h5 class="card-title" id="name"><%=data.gumtree[data.gumtree.length - (1 + i)][0]%></h5>
									<p class="card-text" id="price"><%= data.gumtree[data.gumtree.length - (1 + i)][1]%>.</p>
									<a href="<%= data.gumtree[data.gumtree.length - (1 + i)][2]%>" class="btn btn-primary" id="url">Go to Gumtree</a>
								</div>
							</div>
							
						</div> 
						<div class="col-md-4">
							<div class="card">
								<div class="card-body" style="width: 18rem;">
									<h5 class="card-title" id="name"><%=data.ebay[i][0]%></h5>
									<p class="card-text" id="price"><%= data.ebay[i][1]%>.</p>
									<a href="<%= data.ebay[i][2]%>" class="btn btn-primary" id="url">Go to eBay</a>
								</div>
							</div>
							
						</div> 
						<div class="col-md-4">
							<div class="card">
								<div class="card-body" style="width: 18rem;">
									<h5 class="card-title" id="name"><%=data.amazon[i][0]%></h5>
									<p class="card-text" id="price"><%= data.amazon[i][2] + '.' + data.amazon[i][3]%>.</p>
									<a href="<%= data.amazon[i][1]%>" class="btn btn-primary" id="url">Go to Amazon</a>
								</div>
							</div>
						</div> 
					</div> 
					<%} %>
				</section>
			</section>
		</div>
	</div>

</div>
<% include ../partials/footer %>